{% extends 'base.html' %}
{% block contents %}

<h2>List表示</h2>
<table border="1">
    <tr>
        <th>広告主リスト</th>
        <th>いいね！数</th>
    </tr>
    {% for baseinfo in object_list %}
    <tr>
        <td><a href="{% url 'app_folder:detail' baseinfo.base_id %}">{{ baseinfo.master }}</a></td>
        <td>{{ baseinfo.nice }}</td>
    </tr>
    {% endfor %}
</table>


<!-- 前へ の部分 -->
{% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">前へ</a>
{% endif %}

<!-- 1/3 の部分 -->
{{ page_obj.number }}/{{ page_obj.paginator.num_pages }}

<!-- 次へ の部分 -->
{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">次へ</a>
{% endif %}
{% endblock %}
